.button {
  border: 0;
  background-color: #222;
  border-radius: 5px;
  padding: 0 1rem;
}

.button:hover {
  background-color: #333;
  cursor: pointer;
}

.button:active {
  background-color: #444;
}