.post {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.post p {
  margin-bottom: 0;
}

.post h2:first-letter,
.post p:first-letter {
  text-transform: capitalize;
}

.button {
  padding: 2rem;
}


